{% extends 'plantilla.html'%}
{% load staticfiles %}
{% block carousel%}
{% endblock%}
{% block content%}

<div class="container mt-5">


  <form method="POST">
    {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="Nombre">Nombre</label>
      <input type="text" class="form-control" id="Nombre" name="first_name" placeholder="Nombres">
    </div>

    <div class="form-group col-sm-6">
     <label for="Apellidos">Apellidos</label>
     <input type="text" class="form-control" id="Apellidos" name="last_name" placeholder="Apellidos">
    </div>
    

    <div class="form-group col-sm-6">
     <label for="Email">E-mail</label>
     <input type="email" class="form-control" id="Email" name="email" placeholder="E-mail">
    </div>

    <div class="form-group col-sm-6">
     <label for="Telefono">Teléfono</label>
     <input type="tel" class="form-control" id="Telefono" name="telefono" placeholder="Teléfono">
    </div>

    <div class="form-group col-sm-6">
     <label for="Edad">Edad</label>
     <input type="text" class="form-control" id="Edad" name="edad" placeholder="Edad">
    </div>

    <div class="form-group col-sm-6">
     <label for="User">Nombre de usuario</label>
     <input type="text" class="form-control" id="User" name="username" placeholder="Nombre de usuario">
    </div>

    <div class="form-group col-sm-6">
     <label for="password">Contraseña</label>
     <input type="password" class="form-control" id="password1" name="password1" placeholder="Contraseña">
    </div>

    <div class="form-group col-sm-6">
     <label for="password">Contraseña</label>
     <input type="password" class="form-control" id="password2" name="password2" placeholder="Repita la contraseña">
    </div>

    <div class="custom-file col-sm-12" >
      <input type="file" class="custom-file-input" id="customFileLang" lang="es">
      <label class="custom-file-label" data-browse="Elegir" for="customFileLang">Seleccionar una fotografia</label>
    </div>
      <input type="hidden" value="admin" name="rol">

  <div class="col-sm-12">
    <center> 
    <button type="submit" class="btn btn-outline-info mt-3" >Agregar usuario</button>
    </center>
    </div>

</div>
  </form>

</div>

{% endblock%}