{% extends 'plantilla.html'%}
{% load staticfiles %}

{% block content%}
<h1 class="text-center mt-5">Servicios clinicos</h1><hr>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
    
<div class="card" style="width: 18rem;">
  <img src="{%static 'img/card1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Consulta Médica</h5>
    <p class="card-text">Su mascota será tratada por médicos profesionales debidamente certificados. <br><br></p>
    
  </div>
</div>


    </div>
    <div class="col-sm">
     
<div class="card" style="width: 18rem;">
  <img src="{%static 'img/card2.jpg' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Laboratorio Clínico</h5>
    <p class="card-text">Los exámenes rutinarios para determinar las patologías, serán de inmediato la herramienta para saber que afecta a su mascota.</p>

  </div>
</div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="{%static 'img/card3.jpeg' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Farmacia</h5>
    <p class="card-text">Medicamentos de marcas reconocidas y accesorios para su mascota. <br><br></p>
   
  </div>
</div>



    </div>
  </div>
	
	<article class="pt-5">
		<h2>Veterinario</h2>
		<p>Los veterinarios diagnostican y tratan enfermedades, dolencias y lesiones en todo tipo de animales, y aconsejan sobre acciones preventivas.</p>

		<h2>Tareas de un veterinario</h2>
		<ul>
			<li>Examinar a los animales para detectar y establecer la naturaleza de las enfermedades, los desórdenes o las lesiones.</li>
			<li>Llevar a cabo pruebas de diagnóstico, como rayos x, muestras de sangre y ultrasonido, e interpretar los resultados.</li>
			<li>Tratar a los animales lesionados o enfermos, p.ej., prescribiendo y administrando medicación, colocando huesos, curando heridas, o administrar anestesias y llevar a cabo operaciones quirúrgicas.</li>
			<li>Realizar pruebas médicas y revisiones rutinarias, e inocular a los animales contra diferentes enfermedades como rabias y moquillo.</li>
			<li>Hacer la eutanasia en animales.</li>
			<li>Asesorar a los propietarios de animales en relación con medidas sanitarias, alimentación y cuidado general necesario para favorecer la salud de los animales.</li>
			<li>Educar al público, p.ej., sobre enfermedades que pueden transmitirse de animales a humanos.</li>
			<li>Formar y supervisar a trabajadores que manejan y cuidan animales.</li>
			<li>Verificar estándares de higiene y cuidado en los recintos de animales, p.ej., granjas, zoológicos, criaderos de perros, establos de caballos, tiendas de mascotas, mercados de ganado, espectáculos de animales y eventos deportivos.</li>
			<li>Mantener registros y facilitar informes y certificados en conformidad con la legislación presente.</li>
			<li>Gestionar prácticas financieras, comercialización y contratación de personal.</li>
			<li>Llevar a cabo investigación sobre salud de los animales y áreas relacionadas.</li>

		</ul>
	</article>

</div>




{% endblock%}