{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'prueba.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	<div class="container">
		

<div class="wrapper fadeInDown">
  <div id="formContent">
  
    <div class="fadeIn first">
      <img src="{%static 'img/perrito' %}" id="icon" alt="User Icon" />
    </div>

   
    <form method="POST" >
    {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="usuario">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="contraseña">
      <input type="submit" class="fadeIn fourth" value="Iniciar sesion" name="aceptar">
    </form>

    
    <div id="formFooter">
      <a class="underlineHover" href="/">Ir a inicio</a>
    </div>

  </div>
</div>


	</div>
	<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>	
</body>
</html>