{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Veterinaria</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	
</head>
<body>
{% block nav%}
<nav class="navbar navbar-expand-lg navbar-dark bg-info">

 <!-- <a class="navbar-brand" href="#"><img src="{%static 'img/perrito' %}" width="50" alt=""></a>!-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tienda</a>
      </li>
     
		{% if user.rol == "cliente" or if.user.rol == "admin" %}

       <li class="nav-item">
        <a class="nav-link" href="#">Citas</a>
      </li>
      {%endif%}

      {% if user.rol == "admin" or user.is_superuser%}

        <li class="nav-item dropdown pr-5" style="list-style: none;">
    		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">Agregar</a>
  			<div class="dropdown-menu" id="menu-desplegable">
  			{% if user.is_superuser %}
      			<a class="dropdown-item" href="/AddUser">Administrador</a>
			{% endif %}
      			<a class="dropdown-item" href="/AddCliente">Cliente</a>
     		</div>
     	</li>


      {% endif %}
      
    </ul>
     <!--menu desplegable-->
      <li  style="list-style: none;">
     <img src="{%static 'img/whatsapp.png' %}" width="40" alt="">
     </li>

     <li class="pr-3" style="color: white; list-style: none;">4740-8732</li>
     <li  style="list-style: none;">
     {% if user.username %}
     <img src="{%static 'img/user.png' %}" width="40" alt="">
     </li>
	
     <li class="nav-item dropdown pr-5 mr-5" style="list-style: none;">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">{{user.get_full_name}}</a>
    <div class="dropdown-menu" id="menu-desplegable">
    
      <a class="dropdown-item" href="/logout">Salir</a>
      </div>
      </li>
     {% else %}
     <li class="nav-item" style="list-style: none;"">
        <a class="nav-link" href="/accounts/login/" style="color: white;"> Iniciar Sesion</a>
      </li>
	{% endif %}

    <!--Termina menu desplegable-->
    </ul>
  
  </div>
</nav>
{% endblock %}	
	<div class="">
	{% block carousel %}
	<div class="">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static 'img/carousel1' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{%static 'img/carousel2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{%static 'img/carousel3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div >
	{% endblock%}
	{% block content%}

	{% endblock %}	
	</div>

{% block footer %}
<footer class=" bg-dark py-5 small mt-5">
	<div class="container">
		<p class="footer-main">Visita nuestras redes sociales</p>
		<img src="{%static 'img/fb.png' %}" alt="facebook" width="50">
		<img src="{%static 'img/tw.png' %}" alt="twiter" width="45">
		<img src="{%static 'img/ins.png' %}" alt="instagram" width="38">
		<p class="footer-main text-center">Derechos reservados 2019</p>
		<p class="footer-main text-center">Universidad de San Carlos de Guatemala - Facultad de Ingenieria</p>
		

	</div>
</footer>
{% endblock %}


	<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>	
</body>
</html>
